In [1]:
import pandas as pd

pd.set_option('display.max_columns',150)
pd.set_option('display.max_rows',150)

In [2]:
df1 = pd.read_csv('hyderabad_second_type_000.csv')
df2 = pd.read_csv('hyderabad_second_type_100.csv')
df3 = pd.read_csv('hyderabad_second_type_200.csv')
df4 = pd.read_csv('hyderabad_second_type_300.csv')
df5 = pd.read_csv('hyderabad_second_type_400.csv')
df6 = pd.read_csv('hyderabad_second_type_500.csv')

In [3]:
df1.head()

,Bathrooms,Bedrooms2,Date Created,Builder2,Floor,Furnished Status,Price2,Project Name,Property Type,Verified,Brand New,User Type,Prop ID2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,domcache_globalNav
1,2,2,20210811.0,ELV Projects Pvt Ltd,NaN,Unfurnished,4927000.0,ELV Cosmopolis,Apartment,NaN,New Property,Builder,domcache_srp_54364457
2,2,2,20210817.0,AR Infra and Developers,NaN,Unfurnished,7988400.0,AR The Nest,Apartment,NaN,New Property,Builder,domcache_srp_56459889
3,2,2,20210730.0,Silversand Infratech Private Limited,NaN,Unfurnished,8625000.0,Silversand Cyberdyne 2,Apartment,NaN,New Property,Builder,domcache_srp_54835677
4,2,2,20210723.0,Urbanrise,NaN,Unfurnished,4085000.0,Spring Is In The Air,Apartment,NaN,New Property,Builder,domcache_srp_55539835

In [4]:
frames1 = [df1,df2]
df_cat1 = pd.concat(frames1)

frames2 = [df_cat1,df3]
df_cat2 = pd.concat(frames2)

frames3 = [df_cat2,df4]
df_cat3 = pd.concat(frames3)

frames4 = [df_cat3,df5]
df_cat4 = pd.concat(frames4)

frames5 = [df_cat4,df6]
df_cat5 = pd.concat(frames5)

In [5]:
df_cat5.shape

(14334, 13)

In [6]:
df_cat5.drop_duplicates(inplace=True)
df_cat5.shape

(10934, 13)

In [7]:
df_cat5.head()

,Bathrooms,Bedrooms2,Date Created,Builder2,Floor,Furnished Status,Price2,Project Name,Property Type,Verified,Brand New,User Type,Prop ID2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,domcache_globalNav
1,2,2,20210811.0,ELV Projects Pvt Ltd,NaN,Unfurnished,4927000.0,ELV Cosmopolis,Apartment,NaN,New Property,Builder,domcache_srp_54364457
2,2,2,20210817.0,AR Infra and Developers,NaN,Unfurnished,7988400.0,AR The Nest,Apartment,NaN,New Property,Builder,domcache_srp_56459889
3,2,2,20210730.0,Silversand Infratech Private Limited,NaN,Unfurnished,8625000.0,Silversand Cyberdyne 2,Apartment,NaN,New Property,Builder,domcache_srp_54835677
4,2,2,20210723.0,Urbanrise,NaN,Unfurnished,4085000.0,Spring Is In The Air,Apartment,NaN,New Property,Builder,domcache_srp_55539835

In [8]:
df_cat5.drop(columns='Verified',inplace=True)

In [9]:
df_cat5.rename(columns={'Property Type':'Property Type2','User Type':'User Type2','Prop ID2':'Prop ID'},
               inplace=True)

In [10]:
df_cat5.head()

,Bathrooms,Bedrooms2,Date Created,Builder2,Floor,Furnished Status,Price2,Project Name,Property Type2,Brand New,User Type2,Prop ID
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,domcache_globalNav
1,2,2,20210811.0,ELV Projects Pvt Ltd,NaN,Unfurnished,4927000.0,ELV Cosmopolis,Apartment,New Property,Builder,domcache_srp_54364457
2,2,2,20210817.0,AR Infra and Developers,NaN,Unfurnished,7988400.0,AR The Nest,Apartment,New Property,Builder,domcache_srp_56459889
3,2,2,20210730.0,Silversand Infratech Private Limited,NaN,Unfurnished,8625000.0,Silversand Cyberdyne 2,Apartment,New Property,Builder,domcache_srp_54835677
4,2,2,20210723.0,Urbanrise,NaN,Unfurnished,4085000.0,Spring Is In The Air,Apartment,New Property,Builder,domcache_srp_55539835

In [11]:
df_cat5.shape

(10934, 12)

In [12]:
df_cat5.reset_index(drop=True, inplace=True)

In [31]:
df_cat5.to_csv('concat_second.csv', index=False)